

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: #39b54a;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
section {
    padding: 100px 100px;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 15px 100px;
}

.header.sticky{
    padding: 15px 100px;
    position: fixed;
    background-color: #2d3236ab;
    transition: 0.4s;
}



.brand-name a{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #ffffff;
    transition: 0.4s ease;
}

.brand-name a:hover {
    color: #39b54a;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu h6{
    font-size: 15px;
    font-weight: 600;
    color: #39b54a;
    letter-spacing: 3px;
    margin-right: 10px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}

.menu h6:hover {
    color: #ffffff;
}

.menu-bar {
    background: url(/image/icons/menu.png) no-repeat center center;
    background-size: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menu-bar.active{
    display: none;    
}

.navigation {
    display: none;
}

.navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.navigation.active .navbar-item{
    width: 500px;
    height: 500px;
    background-color: #ffffff;
}

.navigation.active .navbar-item .close-btn{
    margin: 20px 0 0 400px;
    width: 30px;
    height: 30px;
}

.navigation.active .navbar-item .close-btn img{
    width: 30px;
    cursor: pointer;
}

.navigation.active .navbar-item .navbar {
    margin-top: 40px;
}

.navigation.active .navbar-item li {
    padding-top: 25px;
}

.navigation.active .navbar-item li a{
    color: #111;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 17px;
    position: relative;
}

.navigation.active .navbar-item li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #39b54a;
    bottom: -5px;
    left: 0;
    transition: 0.4s;
}

.navigation.active .navbar-item li a:hover{
    color: #39b54a;
}

.navigation.active .navbar-item li a:hover::before {
    width: 100%;
}


/* =====================
     Home start
======================*/

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111;
}

.back-video video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.home::before {
    content: "";
    position: absolute;
    background: #111;
    top: 0;
    left: 0;
    z-index: 777;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
}

.home-content {
    position: relative;
    z-index: 888;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.home-heading h1 {
    padding-top: 100px;
    font-size: 35px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-heading h1 span{
    color: #39b54a;
}

.home-heading p {
    padding-top: 20px;
    font-size: 16px;
    color: #cecdcd;
    letter-spacing: 1px;
    width: 900px;
}

.home-heading button {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #c9c7c7;
    background: transparent;
    color: #ffffff;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.home-heading button:hover {
    border-color: #39b54a;
    color: #39b54a;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(170px);
}

.slider-btn {
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease;
}

.slider-btn.active{
    background: #39b54a;
}

.slider-btn:not(:first-child){
    margin-left: 10px;
}

.slider-btn:hover {
    transform: scale(1.2);
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150.0% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}


/*============ about start ================*/

.about {
    width: 100%;
    height: 500px;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
}

.about-details h1{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    color: #0081c9;
    position: relative;
    z-index: 888;
    width: 40%;
    margin-top: 10px;
}

.about-details h1 span {
    color: #39b54a;
}

.about-details h1::before {
    content: "";
    position: absolute;
    width: 77%;
    height: 3px;
    background: #39b54a;
    bottom: -5px;
}

.about-details h1::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #39b54a;
    bottom: -8px;
    left: 78px;
}

.about-details p {
    margin-top: 30px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 2;
    color: rgb(99, 99, 99);
    width: 450px;
}

.about-details button {
    margin-top: 50px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    background: #0081c9;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.about-details button:hover {
    background: #39b54a;
    transform: scale(1.1);
}

.about-container .about-image img {
    width: 550px;
}


/*============ services start ================*/

.service-heading {
    width: 100%;
    text-align: center;
}

.service-heading h6 {
    font-size: 16px;
    font-weight: 700;
    color: #0081c9;
    position: relative;
}

.service-heading h6::before {
    content: "";
    position: absolute;
    background: #39b54a;
    width: 40px;
    height: 2px;
    left: 480px;
    top: 10px;

}

.service-heading h6::after {
    content: "";
    position: absolute;
    background: #39b54a;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 515px;
    top: 7px;
}

.service-heading h1 {
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    letter-spacing: 2px;
    color: #111111;
}

.service-heading p {
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0 0 230px;
    color: rgb(99, 99, 99);
    letter-spacing: 1px;
    width: 700px;
}

.service-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 50px;
    padding-left: 50px;
}

.service-content .culumn{
    display: flex;
    align-items: center;
}

.service-content .culumn h4{
    font-size: 18px;
}

.service-content .culumn p {
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 1px;
    width: 300px;
}

.service-content .culumn button {
    margin-top: 10px;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    color: #0081c9;
}

.service-content .culumn button  ion-icon{
    font-size: 13px;
    margin-left: 5px;
    color: #0081c9;
}

.service-content .culumn img {
    width: 130px;
    position: absolute;
}

.service-content .culumn .culumn-info{
    border: 2px solid #dfdede;
    padding: 30px 30px 20px 100px;
    margin-left: 50px;
    border-radius: 10px;
    transition: 0.3s;
}

.service-content .culumn .culumn-info:hover {
    border-color: #0081c9;
    background: #0081c9;
    border-radius: 30% 10px 10px 10px;
}

.service-content .culumn .culumn-info:hover h4,
.service-content .culumn .culumn-info:hover p,
.service-content .culumn .culumn-info:hover button{
    color: #ffffff;
}

.service-content .culumn .culumn-info:hover button ion-icon{
    color: #ffffff;
}



/*============ OurTeam start ================*/

.team-heading {
    width: 100%;
    text-align: center;
}

.team-heading h4 {
    font-size: 16px;
    font-weight: 700;
    color: #0081c9;
    position: relative;
}

.team-heading h4::before {
    content: "";
    position: absolute;
    background: #39b54a;
    width: 40px;
    height: 2px;
    left: 490px;
    top: 10px;

}

.team-heading h4::after {
    content: "";
    position: absolute;
    background: #39b54a;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 525px;
    top: 7px;
}

.team-heading h1 {
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    letter-spacing: 2px;
    color: #111111;
}

.team-content {
    padding-top: 100px;
}

.team-member {
    width: 350px;
    height: 430px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.team-member-image {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 120px;
    margin-top: 30px;
}

.team-member-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    outline: 5px solid #39b54a;
    outline-offset: 5px;
}

.member-info{
   
}
.member-info h4{
    font-size: 20px;
    margin-top: 15px;
    text-transform: uppercase;
}

.member-info h6{
    font-size: 14px;
    margin-top: 10px;
    color: #39b54a;
}

.member-info p{
    font-size: 13px;
    width: 300px;
    margin: 10px 0 0 40px;
}

.member-icons{
    margin-top: 20px;
    margin-left: 20px;
}

.member-icons ion-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #39b54a;
    cursor: pointer;
    transition: 0.4s ease;
}

.member-icons ion-icon:hover {
    color: #43d657;
    transform: scale(1.1);
}


.swiper-navBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translateY(10px);
    background: #d2ecd6;
    color: #39b54a;
}

.swiper-navBtn::after,
.swiper-navBtn::before{
    font-size: 20px;
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    margin-top: 10px;
}

.swiper-pagination-bullet-active {
    background: #39b54a;
}



/*=========== review start ========*/

.review-heading h1 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #111111;
    position: relative;
}

.review-heading h1::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 2px;
    background: #39b54a;
    bottom: -10px;
    left: 41%;
}

.review-content {
    padding: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
}

.review-content .culumn {
    text-align: center;
    padding: 30px 25px;
    transition: 0.4s ease;
}

.review-content .culumn .culumn-icon i{
    font-size: 40px;
    color: #adadad;
    font-weight: 700;
    margin-bottom: 15px;
}

.review-content .culumn .counter-number {
    font-size: 40px;
    color: #666666;
    font-weight: 600;
}

.review-content .culumn h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    color: #909090;
}

.review-content .culumn:hover {
    background: #39b54a;
}

.review-content .culumn:hover .culumn-icon i,
.review-content .culumn:hover .counter-number,
.review-content .culumn:hover h4 {
    color: #ffffff;
}



/*============ products start ========*/

.products-heading {
    text-align: center;
}

.products-heading h4 {
    font-size: 16px;
    font-weight: 700;
    color: #0081c9;
    position: relative;
}

.products-heading h4::before {
    content: "";
    position: absolute;
    background: #39b54a;
    width: 40px;
    height: 2px;
    left: 475px;
    top: 10px;

}

.products-heading h4::after {
    content: "";
    position: absolute;
    background: #39b54a;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 510px;
    top: 7px;
}

.products-heading h1 {
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    letter-spacing: 2px;
    color: #111111;
}

.products-filters {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.products-filters li{
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    color: #2c2c2c;
    cursor: pointer;
    border: 2px solid #ffffff;
}


.products-filters li:hover,
.products-filters li.filter-active {
    color: #39b54a;
    border-color: #39b54a;
}

.products-filters li:not(:first-child){
    margin-left: 20px;
}

.products-wrap-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.products-wrap {
    position: relative;
    overflow: hidden;    
    width: 370px;
    height: 300px;
    
}

.products-wrap img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;   
}

.products-info {
    position: absolute;
    z-index: 3;
    background-color: #11111186;
    width: 100%;
    height: 0;
    bottom: -50px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease-in-out 0.3s;
    padding: 0 20px;
}

.products-info-title h4 {
    color: #fff;
    font-weight: 600;
}

.products-info-title p {
    font-size: 14px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.8);
}

.products-links ion-icon {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.products-links ion-icon:hover{
    color: #39b54a;
}

.products-wrap:hover .products-info{
    height: 70px;
    bottom: 0;
    padding: 0 20px;
}


/*=========== contact start ==========*/


.contact {
    padding: 50px 150px;
}

.contact-container-heading h4 {
    font-size: 16px;
    font-weight: 700;
    color: #0081c9;
    position: relative;
    text-align: center;
}

.contact-container-heading h4::before {
    content: "";
    position: absolute;
    background: #39b54a;
    width: 40px;
    height: 2px;
    left: 445px;
    top: 10px;

}

.contact-container-heading h4::after {
    content: "";
    position: absolute;
    background: #39b54a;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 480px;
    top: 7px;
}

.contact-content {
    margin-top: 30px;
    display: flex;
    column-gap: 40px;
}

.contact-inputs {
    width: 500px;
    padding: 20px 0;
}

.inputs-heading h1{
    color: #39b54a;
    font-size: 30px;
    font-weight: 700;    
}

.inputs-heading p{
    color: #8d939f;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;    
}

.contact-inputs .inputs {
    display: flex;
    flex-direction: column;
}

.contact-inputs .inputs input {
    margin-top: 15px;
    width: 70%;
    height: 50px;
    border: 1px solid #cecece;
    outline-color: #39b54a;
    font-size: 15px;
    padding: 0 15px;
}

.message-input textarea {
    margin-top: 15px;
    padding: 15px 15px;
    outline-color: #39b54a;
    border: 1px solid #cecece;
    width: 70%;
}

.contact-inputs button {
    font-size: 14px;
    padding: 15px 40px;
    background: #39b54a;
    border: none;
    border-radius: 30px;
    margin: 15px 80px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease;
}

.contact-inputs button:hover {
    background: #43d657;
}


.contact-info{
    width: 500px;
    
}

.contact-map-image {
    width: 480px;
    height: 250px;
    margin: 30px 0;
}

.contact-map-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-address {
    margin-top: 80px;
    color: #8d939f;
}

.contact-address .culumn{
    display: flex;
    margin-left: 15px;
    font-size: 15px;
}

.contact-address .culumn:first-child {
    margin-bottom: 20px;
}

.contact-address .culumn i {
    margin-top: 5px;
}

.contact-address .culumn p {
    margin-left: 10px;
    letter-spacing: 1px;
}

.contact-social{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-social .social-icon {
    background: #39b54a;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.contact-social .social-icon ion-icon {
    font-size: 22px;
    color: #ffffff;
}

.contact-social .social-icon:not(:first-child){
    margin-left: 20px;
}

.contact-social .social-icon:hover {
    background: #43d657;
}


/*======== footer ==============*/

.footer {
    width: 100%;
    height: 300px;
    background: #32323a;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-social {
    display: flex;
    margin-top: 80px;
}

.footer-social-icon ion-icon{
    font-size: 25px;
    color: #ffffff;
    outline: 2px solid #ffffff;
    padding: 10px;
    border-radius: 50%;
    transition: 0.4s ease;
    cursor: pointer;
}

.footer-social-icon ion-icon:hover {
    outline: 2px solid #39b54a;
    background-color: #39b54a;
}

.footer-social-icon:not(:first-child){
    margin-left: 30px;
}

.footer-content {
    margin-top: 25px;
}

.footer-content a{
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.4s;
}

.footer-content a:not(:first-child){
    margin-left: 25px;
}

.footer-content a:hover {
    color: #39b54a;
}

.footer-container p {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #8a8a8a;
    letter-spacing: 1px;
}